body {
    background-color: rgb(249, 245, 241);
    font-family: 'GlacialIndifferenceRegular';
}
.cabecalho {
    background: rgb(255,219,118);
    background: linear-gradient(90deg, rgba(255,219,118,1) 0%, rgba(247,182,0,1) 50%, rgba(255,219,118,1) 100%);
	padding: 15px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
#titulo {
    padding: 10px;
    color: white;
    letter-spacing: 2px;
}
#menu { 
    color: black;
    
}
#titulo {
    font-size: 2.5em;
    font-weight: bold;
}
.gray {
    color: rgb(49, 46, 46);
}
a {
	text-decoration: none;	
}

a:link, a:visited {
	color: black;
}

a:hover {
	text-decoration: underline;
    text-transform: uppercase;
    transition: 0.2s all ease-in-out;
}

.cabecalho a:link, .cabecalho a:visited {
	color: black;
	padding: 8px 12px;
}

.cabecalho a:hover {
	color: black;
	background: #FFF;
	text-decoration: none;
    border-radius: 10px 0px;
}

.content {
    display: flex;
    flex-direction: row;
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}
.bloco-noticias {
    width: 660px;
    margin: 0 auto;
    padding: 15px;
}
.noticia {
    background-color: white;
    padding: 10px 5px;
    margin: 10px 0px;
}
.noticia li {
    padding: 5px;
    margin: 2px;
}
.noticia h1 {
    font-size: 2.5em;
    font-weight: 400;
    color: rgb(49, 46, 46);
}
.noticia .data {
    margin: 5px;
    font-size: 0.8em;
    color: grey;
}
.noticia img {
    max-width: 640px;
    margin: 15px 0px;
}
.pub {
    width: calc(920px - 680px);
    padding: 15px 0px;
}
.pub-block {
    background-color: white;
    padding: 10px 5px;
    margin: 10px 0px;
}
.titulo-pub {
    background-color: #fedd84;
    font-size: 1.5em;
    font-weight: 400;
}
.content-pub {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}
.content-pub p {
    margin: 3px 0px 5px 0px;
}
.content-pub a {
    margin: 3px 0px 3px 0px;
}
.content-pub a:hover {
	color: #f7b600;
	background: #FFF;
	text-decoration: none;
    border-radius: 10px 0px;
}
.botton {
    background: rgb(255,219,118);
background: linear-gradient(90deg, rgba(255,219,118,1) 0%, rgba(247,182,0,1) 50%, rgba(255,219,118,1) 100%);
}
.botton h3{
    padding: 15px 0px 0px 0px;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}
.botton p {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    font-weight: 300;
    padding: 0px 0px 10px 0px;
    color: black
}